@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@media print {
    body {
        overflow: visible;
    }

    #printable-section,
    #printable-section * {
        visibility: visible;
    }

    #printable-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #printable-list,
    #printable-list * {
        visibility: visible;
    }

    #printable-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .printable {
        width: 100%;
        margin: 0 auto;
        font-size: 12pt;
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    .page-break {
        page-break-before: always;
    }

    .avoid-break {
        page-break-inside: avoid;
    }
}

.ag-cell {
    page-break-inside: avoid !important;
}